/*
 * Base structure
 */

/* Move down content because we have a fixed navbar that is 50px tall */
body {
    
}

a {
  color: #999999;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Roboto', sans-serif;
}

.nav>li>a:focus,
.nav>li>a:hover {
  background-color: rgba(0, 0, 0, 0.1);
  color: #eee;
}

/*
 * Global add-ons
 */

.sub-header {
  padding-bottom: 10px;
  border-bottom: 1px solid #eee;
}

/*
 * Top navigation
 * Hide default border to remove 1px line.
 */
.navbar-fixed-top {
  border: 0;
}

/*
 * Sidebar
 */

/* Hide for mobile, show later */
.sidebar {
  display: none;
}
@media (min-width: 768px) {
  .sidebar {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    z-index: 1000;
    display: block;
    padding: 8px;
    overflow-x: hidden;
    overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
    background-color: #363c43;
    border-right: 1px solid #eee;
  }
}

/* Sidebar navigation */
.nav-sidebar {
  margin-right: -21px; /* 20px padding + 1px border */
  margin-bottom: 20px;
  margin-left: -20px;
}
.nav-sidebar > li > a {
  padding-right: 20px;
  padding-left: 20px;
}


/*
 * Main content
 */

.main {
  padding: 20px;
}
@media (min-width: 768px) {
  .main {
    padding-right: 40px;
    padding-left: 40px;
  }
}
.main .page-header {
  margin-top: 0;
}


/*
 * Placeholder dashboard ideas
 */

.placeholders {
  margin-bottom: 30px;
  text-align: center;
}
.placeholders h4 {
  margin-bottom: 0;
}
.placeholder {
  margin-bottom: 20px;
}
.placeholder img {
  display: inline-block;
  border-radius: 50%;
}

.thumbnail {
  border: 0;
  border-radius: 0;
  padding: 0;
}

.thumbnail:hover {
  border-radius: 1px solid #666;
  opacity: 0.8;
  transition: all 1s line;
}

.nav-sidebar a > i {
  margin-right: 13px;
}

.nav-sidebar > li > a {
  padding-left: 40px;
  font-weight: 900;
}

.nav-sidebar > li > a:hover {
  color: lightblue;
}

.profile {
  height: 100px;
}

/*custom sm*/

.col-sm-108,
.col-sm-228,
.col-sm-228add,
.col-sm-368,
.col-sm-368add {
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}

@media (min-width: 480px) {
    .col-sm-108,
    .col-sm-228,
    .col-sm-228add {
        float: left;
    }
    .col-sm-108 {
        width: 108px;
    }
    .col-sm-228 {
        width: 228px;
    }
    .col-sm-228add {
        width: calc(100% - 228px);
    }
}

@media (min-width: 984px) {
    .col-sm-368,
    .col-sm-368add {
        float: left;
    }
    .col-sm-368 {
        width: 368px;
    }
    .col-sm-368add {
        width: calc(100% - 368px);
    }
}


/*usr profile header*/

.usrAvatarCont {
    height: 228px;
}

.usrAvatar {
    height: 180px;
    position: absolute;
    left: 50%;
    top: 50%;
    margin-top: -90px;
    margin-left: -90px;
}

.usrFunctBtn a {
    border-radius: 1.8em;
    padding-top: 3px;
    padding-bottom: 3px;
}

.usrLibInf {
    padding-top: 10px;
}

.usrInfoCont>.usrLibInf>p {
    text-align: center;
}


/*usr profile body*/